# Ciência de Dados<br> Aula 1: Preparação e transformação dos dados

Francisco Aparecido Rodrigues, francisco@icmc.usp.br.<br>
Universidade de São Paulo, São Carlos, Brasil.<br>
https://sites.icmc.usp.br/francisco <br>
Copyright: Creative Commons

<hr>

Um dos primeiros passos em Ciência de Dados é a preparação e transformação dos dados, de modo a prepará-los para etapas posteriores.

Nessa aula, vamos considerar dados com elementos duplicados ou faltantes e realizar a sua limpeza. Também vamos considerar métodos básicos de pré-processamento e transformação de dados.

Vamos ler um conjunto de dados com erros:

In [20]:
!pip install pandas --quiet

In [22]:
# gerador de números aleatórios
import random
random.seed(1) # inicia a semente do gerador de números aleatórios. Importante para reprodução dos resultados
# Pandas is used for data manipulation
import pandas as pd # bibliote Pandas é usada para manipulação de dados
import matplotlib.pyplot as plt # biblioteca para visualização dos dados

# CSV file
data = pd.read_csv('data/iris-with-errors.csv', header=(0))
print("Número de linhas e colunas:",data.shape)
data.head(25)

Número de linhas e colunas: (25, 5)

   sepal_length sepal_width  petal_length petal_width    species
0           5.1         3.5           1.4         0.2  duplicada
1           5.1         3.5           1.4         0.2  duplicada
2             ?           3           1.4         0.2     setosa
3           4.7         3.2           1.3         0.2     setosa
4           5.1         3.5           1.4         0.2  duplicada
5           NaN         3.1           1.5         0.2     setosa
6             5         3.6           1.4         0.2     setosa
7           5.4         3.9           1.7         0.4  duplicada
8           5.4         3.9           1.7         0.4  duplicada
9           4.6         3.4           1.4         NaN     setosa
10            5         3.4           1.5         0.2     setosa
11          4.4         2.9           1.4         0.2  duplicada
12          4.9         3.1           1.5         0.1     setosa
13          5.4         3.7           1.5         0.2     setosa
14          4.4         2.9           1.4         0.2  duplicada
15          4.8         3.4           1.6         0.2     setosa
16          4.8           3           1.4         0.1     setosa
17          4.4         2.9           1.4         0.2  duplicada
18          4.3           3           1.1         0.1     setosa
19          5.8           4           1.2         0.2     setosa
20          5.7         4.4           1.5         0.4     setosa
21          5.4         3.9           1.3           ?     setosa
22          5.1         3.5           1.4         0.3     setosa
23          5.7           ?           1.7         0.3     setosa
24          NaN         3.8           1.5         0.3     setosa

Primeiramente, vamos remover os "NaN" (not a number, que representam valores desconhecidos) do arquivo, apagando as linhas que contém esse problema. Notem que algumas linhas serão removidas, tais como a 5 e 9.

In [23]:
# remove as linhas com NaN
data = data.dropna() ## drop of row completion
data.head(25)

   sepal_length sepal_width  petal_length petal_width    species
0           5.1         3.5           1.4         0.2  duplicada
1           5.1         3.5           1.4         0.2  duplicada
2             ?           3           1.4         0.2     setosa
3           4.7         3.2           1.3         0.2     setosa
4           5.1         3.5           1.4         0.2  duplicada
6             5         3.6           1.4         0.2     setosa
7           5.4         3.9           1.7         0.4  duplicada
8           5.4         3.9           1.7         0.4  duplicada
10            5         3.4           1.5         0.2     setosa
11          4.4         2.9           1.4         0.2  duplicada
12          4.9         3.1           1.5         0.1     setosa
13          5.4         3.7           1.5         0.2     setosa
14          4.4         2.9           1.4         0.2  duplicada
15          4.8         3.4           1.6         0.2     setosa
16          4.8           3           1.4         0.1     setosa
17          4.4         2.9           1.4         0.2  duplicada
18          4.3           3           1.1         0.1     setosa
19          5.8           4           1.2         0.2     setosa
20          5.7         4.4           1.5         0.4     setosa
21          5.4         3.9           1.3           ?     setosa
22          5.1         3.5           1.4         0.3     setosa
23          5.7           ?           1.7         0.3     setosa

Vamos remover as linhas duplicadas. Para isso, inicialmente verificamos se há a ocorrência dessas linhas.

In [24]:
# Retorna True na posição em que há uma linha duplicada
data.duplicated() ### Apenas informa

0     False
1      True
2     False
3     False
4      True
6     False
7     False
8      True
10    False
11    False
12    False
13    False
14     True
15    False
16    False
17     True
18    False
19    False
20    False
21    False
22    False
23    False
dtype: bool

Notem que indicamos nos dados originais, na última coluna, quais linhas estão duplicadas.

Para realizamos a remoção, usamos um método da biblioteca Pandas.

In [26]:
# Remove as linhas duplicadas
data = data.drop_duplicates() ###Apenas informa em target
data.head(25)

   sepal_length sepal_width  petal_length petal_width    species
0           5.1         3.5           1.4         0.2  duplicada
2             ?           3           1.4         0.2     setosa
3           4.7         3.2           1.3         0.2     setosa
6             5         3.6           1.4         0.2     setosa
7           5.4         3.9           1.7         0.4  duplicada
10            5         3.4           1.5         0.2     setosa
11          4.4         2.9           1.4         0.2  duplicada
12          4.9         3.1           1.5         0.1     setosa
13          5.4         3.7           1.5         0.2     setosa
15          4.8         3.4           1.6         0.2     setosa
16          4.8           3           1.4         0.1     setosa
18          4.3           3           1.1         0.1     setosa
19          5.8           4           1.2         0.2     setosa
20          5.7         4.4           1.5         0.4     setosa
21          5.4         3.9           1.3           ?     setosa
22          5.1         3.5           1.4         0.3     setosa
23          5.7           ?           1.7         0.3     setosa

Compare essa tabela com a original (acima) e verifique se a remoção das linhas foi feita de forma correta. As linhas duplicadas são indicadas na última coluna.

Vamos remover as linhas que contenham "?" ou qualquer outro caracter que indique um erro ou entrada faltante.

Primeiramente, convertemos essas entradas para "NaN":

In [27]:
import numpy as np
# Substitui Nan por um caracter desejado
data = data.replace('?', np.nan)
data.head(25)

   sepal_length sepal_width  petal_length petal_width    species
0           5.1         3.5           1.4         0.2  duplicada
2           NaN           3           1.4         0.2     setosa
3           4.7         3.2           1.3         0.2     setosa
6             5         3.6           1.4         0.2     setosa
7           5.4         3.9           1.7         0.4  duplicada
10            5         3.4           1.5         0.2     setosa
11          4.4         2.9           1.4         0.2  duplicada
12          4.9         3.1           1.5         0.1     setosa
13          5.4         3.7           1.5         0.2     setosa
15          4.8         3.4           1.6         0.2     setosa
16          4.8           3           1.4         0.1     setosa
18          4.3           3           1.1         0.1     setosa
19          5.8           4           1.2         0.2     setosa
20          5.7         4.4           1.5         0.4     setosa
21          5.4         3.9           1.3         NaN     setosa
22          5.1         3.5           1.4         0.3     setosa
23          5.7         NaN           1.7         0.3     setosa

A seguir, fazemos a remoção, como anteriormente.

In [28]:
# Remove as linhas com Nan
data = data.dropna()
data.head(25)

   sepal_length sepal_width  petal_length petal_width    species
0           5.1         3.5           1.4         0.2  duplicada
3           4.7         3.2           1.3         0.2     setosa
6             5         3.6           1.4         0.2     setosa
7           5.4         3.9           1.7         0.4  duplicada
10            5         3.4           1.5         0.2     setosa
11          4.4         2.9           1.4         0.2  duplicada
12          4.9         3.1           1.5         0.1     setosa
13          5.4         3.7           1.5         0.2     setosa
15          4.8         3.4           1.6         0.2     setosa
16          4.8           3           1.4         0.1     setosa
18          4.3           3           1.1         0.1     setosa
19          5.8           4           1.2         0.2     setosa
20          5.7         4.4           1.5         0.4     setosa
22          5.1         3.5           1.4         0.3     setosa

Desse forma, temos um conjunto de dados sem erros e entradas duplicadas. É fundamental realizar essas operações em qualquer conjunto de dados antes de aplicarmos os métodos de aprendizado de máquina e estatística.

Podemos também remover determinadas linhas e colunas dos dados. Para remover a segunda e quarta colunas:

In [29]:
print("Atributos atuais:",data.columns)
print("Colunas removidas:", data.columns[[1, 3]])
# Remove as linhas especificadas
data = data.drop(data.columns[[1, 3]], axis=1) ### axis=1 refere-se a colunas
data.head(25)

Atributos atuais: Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')
Colunas removidas: Index(['sepal_width', 'petal_width'], dtype='object')

   sepal_length  petal_length    species
0           5.1           1.4  duplicada
3           4.7           1.3     setosa
6             5           1.4     setosa
7           5.4           1.7  duplicada
10            5           1.5     setosa
11          4.4           1.4  duplicada
12          4.9           1.5     setosa
13          5.4           1.5     setosa
15          4.8           1.6     setosa
16          4.8           1.4     setosa
18          4.3           1.1     setosa
19          5.8           1.2     setosa
20          5.7           1.5     setosa
22          5.1           1.4     setosa

Para remover a primeira e terceira linhas:

In [30]:
data = data.drop(data.index[[0, 2]], axis=0) ### axis=0 refere-se a linhas
print("Linhas Removidas:", data.index[[0, 2]])
data.head(25)

Linhas Removidas: Int64Index([3, 10], dtype='int64')

   sepal_length  petal_length    species
3           4.7           1.3     setosa
7           5.4           1.7  duplicada
10            5           1.5     setosa
11          4.4           1.4  duplicada
12          4.9           1.5     setosa
13          5.4           1.5     setosa
15          4.8           1.6     setosa
16          4.8           1.4     setosa
18          4.3           1.1     setosa
19          5.8           1.2     setosa
20          5.7           1.5     setosa
22          5.1           1.4     setosa

## Substituição de valores ausentes

Em muitas siutações, a matriz de atributos pode conter valores ausentes. Nesse caso, podemos usar diferentes métodos para substituir tais valores, como preenche-los com valores médios ou medianas.

Vamos ler os dados novamente:

In [31]:
data = pd.read_csv('data/iris-with-errors.csv', header=(0))
print(data.shape)
data.head(25)

(25, 5)

   sepal_length sepal_width  petal_length petal_width    species
0           5.1         3.5           1.4         0.2  duplicada
1           5.1         3.5           1.4         0.2  duplicada
2             ?           3           1.4         0.2     setosa
3           4.7         3.2           1.3         0.2     setosa
4           5.1         3.5           1.4         0.2  duplicada
5           NaN         3.1           1.5         0.2     setosa
6             5         3.6           1.4         0.2     setosa
7           5.4         3.9           1.7         0.4  duplicada
8           5.4         3.9           1.7         0.4  duplicada
9           4.6         3.4           1.4         NaN     setosa
10            5         3.4           1.5         0.2     setosa
11          4.4         2.9           1.4         0.2  duplicada
12          4.9         3.1           1.5         0.1     setosa
13          5.4         3.7           1.5         0.2     setosa
14          4.4         2.9           1.4         0.2  duplicada
15          4.8         3.4           1.6         0.2     setosa
16          4.8           3           1.4         0.1     setosa
17          4.4         2.9           1.4         0.2  duplicada
18          4.3           3           1.1         0.1     setosa
19          5.8           4           1.2         0.2     setosa
20          5.7         4.4           1.5         0.4     setosa
21          5.4         3.9           1.3           ?     setosa
22          5.1         3.5           1.4         0.3     setosa
23          5.7           ?           1.7         0.3     setosa
24          NaN         3.8           1.5         0.3     setosa

Vamos substituir os valores com 'NaN' e '?' pelos valores médios dos atributos. Primeiramente, mudamos as entradas '?' para 'NaN', como foi feito anteriormente.

In [32]:
import numpy as np
data = data.replace('?', np.nan)
data.head(25)

   sepal_length sepal_width  petal_length petal_width    species
0           5.1         3.5           1.4         0.2  duplicada
1           5.1         3.5           1.4         0.2  duplicada
2           NaN           3           1.4         0.2     setosa
3           4.7         3.2           1.3         0.2     setosa
4           5.1         3.5           1.4         0.2  duplicada
5           NaN         3.1           1.5         0.2     setosa
6             5         3.6           1.4         0.2     setosa
7           5.4         3.9           1.7         0.4  duplicada
8           5.4         3.9           1.7         0.4  duplicada
9           4.6         3.4           1.4         NaN     setosa
10            5         3.4           1.5         0.2     setosa
11          4.4         2.9           1.4         0.2  duplicada
12          4.9         3.1           1.5         0.1     setosa
13          5.4         3.7           1.5         0.2     setosa
14          4.4         2.9           1.4         0.2  duplicada
15          4.8         3.4           1.6         0.2     setosa
16          4.8           3           1.4         0.1     setosa
17          4.4         2.9           1.4         0.2  duplicada
18          4.3           3           1.1         0.1     setosa
19          5.8           4           1.2         0.2     setosa
20          5.7         4.4           1.5         0.4     setosa
21          5.4         3.9           1.3         NaN     setosa
22          5.1         3.5           1.4         0.3     setosa
23          5.7         NaN           1.7         0.3     setosa
24          NaN         3.8           1.5         0.3     setosa

A seguir, inserimos a média de cada atributo nas entradas com valores 'NaN'.

### Podemos substituir valores faltantes pela média do valor da coluna cuidado com essa substuição, precisamos verificar a distribuição, as vezes é iteresante pegar a mediana

In [33]:
# convertemos para o formato Numpy e ignoramos a última coluna (classe)
X = np.array(data[data.columns[0:data.shape[1]-1]], dtype = float) 
# calculamos a média de cada atributo e armazenamos em um vetor
# Usamos a função nanmean que calcula a média ignorando os Nan
averages = np.nanmean(X, axis = 0) # veja https://docs.scipy.org/doc/numpy/reference/generated/numpy.nanmean.html
for i in np.arange(0, X.shape[0]):
    for j in np.arange(0, X.shape[1]):
        if(np.isnan(X[i,j]) == True): # verificar se é uma entrada com Nan
            X[i,j] = averages[j] # insere a média
print(X)

[[5.1        3.5        1.4        0.2       ]
 [5.1        3.5        1.4        0.2       ]
 [5.02272727 3.         1.4        0.2       ]
 [4.7        3.2        1.3        0.2       ]
 [5.1        3.5        1.4        0.2       ]
 [5.02272727 3.1        1.5        0.2       ]
 [5.         3.6        1.4        0.2       ]
 [5.4        3.9        1.7        0.4       ]
 [5.4        3.9        1.7        0.4       ]
 [4.6        3.4        1.4        0.22608696]
 [5.         3.4        1.5        0.2       ]
 [4.4        2.9        1.4        0.2       ]
 [4.9        3.1        1.5        0.1       ]
 [5.4        3.7        1.5        0.2       ]
 [4.4        2.9        1.4        0.2       ]
 [4.8        3.4        1.6        0.2       ]
 [4.8        3.         1.4        0.1       ]
 [4.4        2.9        1.4        0.2       ]
 [4.3        3.         1.1        0.1       ]
 [5.8        4.         1.2        0.2       ]
 [5.7        4.4        1.5        0.4       ]
 [5.4        3.9        1.3        0.22608696]
 [5.1        3.5        1.4        0.3       ]
 [5.7        3.4375     1.7        0.3       ]
 [5.02272727 3.8        1.5        0.3       ]]

Assim como inserimos a média, poderíamos inserir a mediana ou qualquer outro valor.

## Normalização e padronização

Vamos ler os dados:

In [34]:
import pandas as pd
# CSV file
data = pd.read_csv('data/iris.csv', header=(0))
print(data.shape)
data.head(25)

(150, 5)

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa

Para normalizar os dados no intervalo [0,1]:

In [36]:
!pip install sklearn --quiet

In [38]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler
# considera somente os atributos, ignorando a última coluna, que contem a classe
X = np.array(data[data.columns[0:data.shape[1]-1]])
for i  in range(X.shape[1]):
    print("Maior valor da coluna:", i, ":", max(X[:,i]))
    print("Menor Valor da coluna:", i, ":", min(X[:,i]))
# prepara a função para transformar os dados
scaler = MinMaxScaler(feature_range=(0, 1))
# Realiza a normalização e coloca em um novo vetor
X_norm = scaler.fit_transform(X)
print(X_norm)

Maior valor da coluna: 0 : 7.9
Menor Valor da coluna: 0 : 4.3
Maior valor da coluna: 1 : 4.4
Menor Valor da coluna: 1 : 2.0
Maior valor da coluna: 2 : 6.9
Menor Valor da coluna: 2 : 1.0
Maior valor da coluna: 3 : 2.5
Menor Valor da coluna: 3 : 0.1
[[0.22222222 0.625      0.06779661 0.04166667]
 [0.16666667 0.41666667 0.06779661 0.04166667]
 [0.11111111 0.5        0.05084746 0.04166667]
 [0.08333333 0.45833333 0.08474576 0.04166667]
 [0.19444444 0.66666667 0.06779661 0.04166667]
 [0.30555556 0.79166667 0.11864407 0.125     ]
 [0.08333333 0.58333333 0.06779661 0.08333333]
 [0.19444444 0.58333333 0.08474576 0.04166667]
 [0.02777778 0.375      0.06779661 0.04166667]
 [0.16666667 0.45833333 0.08474576 0.        ]
 [0.30555556 0.70833333 0.08474576 0.04166667]
 [0.13888889 0.58333333 0.10169492 0.04166667]
 [0.13888889 0.41666667 0.06779661 0.        ]
 [0.         0.41666667 0.01694915 0.        ]
 [0.41666667 0.83333333 0.03389831 0.04166667]
 [0.38888889 1.         0.08474576 0.125     ]
 [0.30555556 0.79166667 0.05084746 0.125     ]
 [0.22222222 0.625      0.06779661 0.08333333]
 [0.38888889 0.75       0.11864407 0.08333333]
 [0.22222222 0.75       0.08474576 0.08333333]
 [0.30555556 0.58333333 0.11864407 0.04166667]
 [0.22222222 0.70833333 0.08474576 0.125     ]
 [0.08333333 0.66666667 0.         0.04166667]
 [0.22222222 0.54166667 0.11864407 0.16666667]
 [0.13888889 0.58333333 0.15254237 0.04166667]
 [0.19444444 0.41666667 0.10169492 0.04166667]
 [0.19444444 0.58333333 0.10169492 0.125     ]
 [0.25       0.625      0.08474576 0.04166667]
 [0.25       0.58333333 0.06779661 0.04166667]
 [0.11111111 0.5        0.10169492 0.04166667]
 [0.13888889 0.45833333 0.10169492 0.04166667]
 [0.30555556 0.58333333 0.08474576 0.125     ]
 [0.25       0.875      0.08474576 0.        ]
 [0.33333333 0.91666667 0.06779661 0.04166667]
 [0.16666667 0.45833333 0.08474576 0.        ]
 [0.19444444 0.5        0.03389831 0.04166667]
 [0.33333333 0.625      0.05084746 0.04166667]
 [0.16666667 0.45833333 0.08474576 0.        ]
 [0.02777778 0.41666667 0.05084746 0.04166667]
 [0.22222222 0.58333333 0.08474576 0.04166667]
 [0.19444444 0.625      0.05084746 0.08333333]
 [0.05555556 0.125      0.05084746 0.08333333]
 [0.02777778 0.5        0.05084746 0.04166667]
 [0.19444444 0.625      0.10169492 0.20833333]
 [0.22222222 0.75       0.15254237 0.125     ]
 [0.13888889 0.41666667 0.06779661 0.08333333]
 [0.22222222 0.75       0.10169492 0.04166667]
 [0.08333333 0.5        0.06779661 0.04166667]
 [0.27777778 0.70833333 0.08474576 0.04166667]
 [0.19444444 0.54166667 0.06779661 0.04166667]
 [0.75       0.5        0.62711864 0.54166667]
 [0.58333333 0.5        0.59322034 0.58333333]
 [0.72222222 0.45833333 0.66101695 0.58333333]
 [0.33333333 0.125      0.50847458 0.5       ]
 [0.61111111 0.33333333 0.61016949 0.58333333]
 [0.38888889 0.33333333 0.59322034 0.5       ]
 [0.55555556 0.54166667 0.62711864 0.625     ]
 [0.16666667 0.16666667 0.38983051 0.375     ]
 [0.63888889 0.375      0.61016949 0.5       ]
 [0.25       0.29166667 0.49152542 0.54166667]
 [0.19444444 0.         0.42372881 0.375     ]
 [0.44444444 0.41666667 0.54237288 0.58333333]
 [0.47222222 0.08333333 0.50847458 0.375     ]
 [0.5        0.375      0.62711864 0.54166667]
 [0.36111111 0.375      0.44067797 0.5       ]
 [0.66666667 0.45833333 0.57627119 0.54166667]
 [0.36111111 0.41666667 0.59322034 0.58333333]
 [0.41666667 0.29166667 0.52542373 0.375     ]
 [0.52777778 0.08333333 0.59322034 0.58333333]
 [0.36111111 0.20833333 0.49152542 0.41666667]
 [0.44444444 0.5        0.6440678  0.70833333]
 [0.5        0.33333333 0.50847458 0.5       ]
 [0.55555556 0.20833333 0.66101695 0.58333333]
 [0.5        0.33333333 0.62711864 0.45833333]
 [0.58333333 0.375      0.55932203 0.5       ]
 [0.63888889 0.41666667 0.57627119 0.54166667]
 [0.69444444 0.33333333 0.6440678  0.54166667]
 [0.66666667 0.41666667 0.6779661  0.66666667]
 [0.47222222 0.375      0.59322034 0.58333333]
 [0.38888889 0.25       0.42372881 0.375     ]
 [0.33333333 0.16666667 0.47457627 0.41666667]
 [0.33333333 0.16666667 0.45762712 0.375     ]
 [0.41666667 0.29166667 0.49152542 0.45833333]
 [0.47222222 0.29166667 0.69491525 0.625     ]
 [0.30555556 0.41666667 0.59322034 0.58333333]
 [0.47222222 0.58333333 0.59322034 0.625     ]
 [0.66666667 0.45833333 0.62711864 0.58333333]
 [0.55555556 0.125      0.57627119 0.5       ]
 [0.36111111 0.41666667 0.52542373 0.5       ]
 [0.33333333 0.20833333 0.50847458 0.5       ]
 [0.33333333 0.25       0.57627119 0.45833333]
 [0.5        0.41666667 0.61016949 0.54166667]
 [0.41666667 0.25       0.50847458 0.45833333]
 [0.19444444 0.125      0.38983051 0.375     ]
 [0.36111111 0.29166667 0.54237288 0.5       ]
 [0.38888889 0.41666667 0.54237288 0.45833333]
 [0.38888889 0.375      0.54237288 0.5       ]
 [0.52777778 0.375      0.55932203 0.5       ]
 [0.22222222 0.20833333 0.33898305 0.41666667]
 [0.38888889 0.33333333 0.52542373 0.5       ]
 [0.55555556 0.54166667 0.84745763 1.        ]
 [0.41666667 0.29166667 0.69491525 0.75      ]
 [0.77777778 0.41666667 0.83050847 0.83333333]
 [0.55555556 0.375      0.77966102 0.70833333]
 [0.61111111 0.41666667 0.81355932 0.875     ]
 [0.91666667 0.41666667 0.94915254 0.83333333]
 [0.16666667 0.20833333 0.59322034 0.66666667]
 [0.83333333 0.375      0.89830508 0.70833333]
 [0.66666667 0.20833333 0.81355932 0.70833333]
 [0.80555556 0.66666667 0.86440678 1.        ]
 [0.61111111 0.5        0.69491525 0.79166667]
 [0.58333333 0.29166667 0.72881356 0.75      ]
 [0.69444444 0.41666667 0.76271186 0.83333333]
 [0.38888889 0.20833333 0.6779661  0.79166667]
 [0.41666667 0.33333333 0.69491525 0.95833333]
 [0.58333333 0.5        0.72881356 0.91666667]
 [0.61111111 0.41666667 0.76271186 0.70833333]
 [0.94444444 0.75       0.96610169 0.875     ]
 [0.94444444 0.25       1.         0.91666667]
 [0.47222222 0.08333333 0.6779661  0.58333333]
 [0.72222222 0.5        0.79661017 0.91666667]
 [0.36111111 0.33333333 0.66101695 0.79166667]
 [0.94444444 0.33333333 0.96610169 0.79166667]
 [0.55555556 0.29166667 0.66101695 0.70833333]
 [0.66666667 0.54166667 0.79661017 0.83333333]
 [0.80555556 0.5        0.84745763 0.70833333]
 [0.52777778 0.33333333 0.6440678  0.70833333]
 [0.5        0.41666667 0.66101695 0.70833333]
 [0.58333333 0.33333333 0.77966102 0.83333333]
 [0.80555556 0.41666667 0.81355932 0.625     ]
 [0.86111111 0.33333333 0.86440678 0.75      ]
 [1.         0.75       0.91525424 0.79166667]
 [0.58333333 0.33333333 0.77966102 0.875     ]
 [0.55555556 0.33333333 0.69491525 0.58333333]
 [0.5        0.25       0.77966102 0.54166667]
 [0.94444444 0.41666667 0.86440678 0.91666667]
 [0.55555556 0.58333333 0.77966102 0.95833333]
 [0.58333333 0.45833333 0.76271186 0.70833333]
 [0.47222222 0.41666667 0.6440678  0.70833333]
 [0.72222222 0.45833333 0.74576271 0.83333333]
 [0.66666667 0.45833333 0.77966102 0.95833333]
 [0.72222222 0.45833333 0.69491525 0.91666667]
 [0.41666667 0.29166667 0.69491525 0.75      ]
 [0.69444444 0.5        0.83050847 0.91666667]
 [0.66666667 0.54166667 0.79661017 1.        ]
 [0.66666667 0.41666667 0.71186441 0.91666667]
 [0.55555556 0.20833333 0.6779661  0.75      ]
 [0.61111111 0.41666667 0.71186441 0.79166667]
 [0.52777778 0.58333333 0.74576271 0.91666667]
 [0.44444444 0.41666667 0.69491525 0.70833333]]

Ou seja, o máximo e mínimo do novo conjunto de dados:

In [39]:
print('Mínimo dos atributos:', np.amin(X_norm, axis=0))
print('Máximo dos atributos:', np.amax(X_norm, axis=0))

Mínimo dos atributos: [0. 0. 0. 0.]
Máximo dos atributos: [1. 1. 1. 1.]

Para realizarmos a padronização dos dados, de forma que os atributos apresentem média igual a zero e variância igual a 1, o procedimento é parecido.

In [40]:
from sklearn.preprocessing import StandardScaler
X = np.array(data[data.columns[0:data.shape[1]-1]])
# prepara a função para transformar os dados
scaler = StandardScaler().fit(X)
# realiza a padronização (média=0, variância = 1)
rescaledX = scaler.transform(X)
print(rescaledX)

[[-9.00681170e-01  1.03205722e+00 -1.34127240e+00 -1.31297673e+00]
 [-1.14301691e+00 -1.24957601e-01 -1.34127240e+00 -1.31297673e+00]
 [-1.38535265e+00  3.37848329e-01 -1.39813811e+00 -1.31297673e+00]
 [-1.50652052e+00  1.06445364e-01 -1.28440670e+00 -1.31297673e+00]
 [-1.02184904e+00  1.26346019e+00 -1.34127240e+00 -1.31297673e+00]
 [-5.37177559e-01  1.95766909e+00 -1.17067529e+00 -1.05003079e+00]
 [-1.50652052e+00  8.00654259e-01 -1.34127240e+00 -1.18150376e+00]
 [-1.02184904e+00  8.00654259e-01 -1.28440670e+00 -1.31297673e+00]
 [-1.74885626e+00 -3.56360566e-01 -1.34127240e+00 -1.31297673e+00]
 [-1.14301691e+00  1.06445364e-01 -1.28440670e+00 -1.44444970e+00]
 [-5.37177559e-01  1.49486315e+00 -1.28440670e+00 -1.31297673e+00]
 [-1.26418478e+00  8.00654259e-01 -1.22754100e+00 -1.31297673e+00]
 [-1.26418478e+00 -1.24957601e-01 -1.34127240e+00 -1.44444970e+00]
 [-1.87002413e+00 -1.24957601e-01 -1.51186952e+00 -1.44444970e+00]
 [-5.25060772e-02  2.18907205e+00 -1.45500381e+00 -1.31297673e+00]
 [-1.73673948e-01  3.11468391e+00 -1.28440670e+00 -1.05003079e+00]
 [-5.37177559e-01  1.95766909e+00 -1.39813811e+00 -1.05003079e+00]
 [-9.00681170e-01  1.03205722e+00 -1.34127240e+00 -1.18150376e+00]
 [-1.73673948e-01  1.72626612e+00 -1.17067529e+00 -1.18150376e+00]
 [-9.00681170e-01  1.72626612e+00 -1.28440670e+00 -1.18150376e+00]
 [-5.37177559e-01  8.00654259e-01 -1.17067529e+00 -1.31297673e+00]
 [-9.00681170e-01  1.49486315e+00 -1.28440670e+00 -1.05003079e+00]
 [-1.50652052e+00  1.26346019e+00 -1.56873522e+00 -1.31297673e+00]
 [-9.00681170e-01  5.69251294e-01 -1.17067529e+00 -9.18557817e-01]
 [-1.26418478e+00  8.00654259e-01 -1.05694388e+00 -1.31297673e+00]
 [-1.02184904e+00 -1.24957601e-01 -1.22754100e+00 -1.31297673e+00]
 [-1.02184904e+00  8.00654259e-01 -1.22754100e+00 -1.05003079e+00]
 [-7.79513300e-01  1.03205722e+00 -1.28440670e+00 -1.31297673e+00]
 [-7.79513300e-01  8.00654259e-01 -1.34127240e+00 -1.31297673e+00]
 [-1.38535265e+00  3.37848329e-01 -1.22754100e+00 -1.31297673e+00]
 [-1.26418478e+00  1.06445364e-01 -1.22754100e+00 -1.31297673e+00]
 [-5.37177559e-01  8.00654259e-01 -1.28440670e+00 -1.05003079e+00]
 [-7.79513300e-01  2.42047502e+00 -1.28440670e+00 -1.44444970e+00]
 [-4.16009689e-01  2.65187798e+00 -1.34127240e+00 -1.31297673e+00]
 [-1.14301691e+00  1.06445364e-01 -1.28440670e+00 -1.44444970e+00]
 [-1.02184904e+00  3.37848329e-01 -1.45500381e+00 -1.31297673e+00]
 [-4.16009689e-01  1.03205722e+00 -1.39813811e+00 -1.31297673e+00]
 [-1.14301691e+00  1.06445364e-01 -1.28440670e+00 -1.44444970e+00]
 [-1.74885626e+00 -1.24957601e-01 -1.39813811e+00 -1.31297673e+00]
 [-9.00681170e-01  8.00654259e-01 -1.28440670e+00 -1.31297673e+00]
 [-1.02184904e+00  1.03205722e+00 -1.39813811e+00 -1.18150376e+00]
 [-1.62768839e+00 -1.74477836e+00 -1.39813811e+00 -1.18150376e+00]
 [-1.74885626e+00  3.37848329e-01 -1.39813811e+00 -1.31297673e+00]
 [-1.02184904e+00  1.03205722e+00 -1.22754100e+00 -7.87084847e-01]
 [-9.00681170e-01  1.72626612e+00 -1.05694388e+00 -1.05003079e+00]
 [-1.26418478e+00 -1.24957601e-01 -1.34127240e+00 -1.18150376e+00]
 [-9.00681170e-01  1.72626612e+00 -1.22754100e+00 -1.31297673e+00]
 [-1.50652052e+00  3.37848329e-01 -1.34127240e+00 -1.31297673e+00]
 [-6.58345429e-01  1.49486315e+00 -1.28440670e+00 -1.31297673e+00]
 [-1.02184904e+00  5.69251294e-01 -1.34127240e+00 -1.31297673e+00]
 [ 1.40150837e+00  3.37848329e-01  5.35295827e-01  2.64698913e-01]
 [ 6.74501145e-01  3.37848329e-01  4.21564419e-01  3.96171883e-01]
 [ 1.28034050e+00  1.06445364e-01  6.49027235e-01  3.96171883e-01]
 [-4.16009689e-01 -1.74477836e+00  1.37235899e-01  1.33225943e-01]
 [ 7.95669016e-01 -5.87763531e-01  4.78430123e-01  3.96171883e-01]
 [-1.73673948e-01 -5.87763531e-01  4.21564419e-01  1.33225943e-01]
 [ 5.53333275e-01  5.69251294e-01  5.35295827e-01  5.27644853e-01]
 [-1.14301691e+00 -1.51337539e+00 -2.60824029e-01 -2.61192967e-01]
 [ 9.16836886e-01 -3.56360566e-01  4.78430123e-01  1.33225943e-01]
 [-7.79513300e-01 -8.19166497e-01  8.03701950e-02  2.64698913e-01]
 [-1.02184904e+00 -2.43898725e+00 -1.47092621e-01 -2.61192967e-01]
 [ 6.86617933e-02 -1.24957601e-01  2.50967307e-01  3.96171883e-01]
 [ 1.89829664e-01 -1.97618132e+00  1.37235899e-01 -2.61192967e-01]
 [ 3.10997534e-01 -3.56360566e-01  5.35295827e-01  2.64698913e-01]
 [-2.94841818e-01 -3.56360566e-01 -9.02269170e-02  1.33225943e-01]
 [ 1.03800476e+00  1.06445364e-01  3.64698715e-01  2.64698913e-01]
 [-2.94841818e-01 -1.24957601e-01  4.21564419e-01  3.96171883e-01]
 [-5.25060772e-02 -8.19166497e-01  1.94101603e-01 -2.61192967e-01]
 [ 4.32165405e-01 -1.97618132e+00  4.21564419e-01  3.96171883e-01]
 [-2.94841818e-01 -1.28197243e+00  8.03701950e-02 -1.29719997e-01]
 [ 6.86617933e-02  3.37848329e-01  5.92161531e-01  7.90590793e-01]
 [ 3.10997534e-01 -5.87763531e-01  1.37235899e-01  1.33225943e-01]
 [ 5.53333275e-01 -1.28197243e+00  6.49027235e-01  3.96171883e-01]
 [ 3.10997534e-01 -5.87763531e-01  5.35295827e-01  1.75297293e-03]
 [ 6.74501145e-01 -3.56360566e-01  3.07833011e-01  1.33225943e-01]
 [ 9.16836886e-01 -1.24957601e-01  3.64698715e-01  2.64698913e-01]
 [ 1.15917263e+00 -5.87763531e-01  5.92161531e-01  2.64698913e-01]
 [ 1.03800476e+00 -1.24957601e-01  7.05892939e-01  6.59117823e-01]
 [ 1.89829664e-01 -3.56360566e-01  4.21564419e-01  3.96171883e-01]
 [-1.73673948e-01 -1.05056946e+00 -1.47092621e-01 -2.61192967e-01]
 [-4.16009689e-01 -1.51337539e+00  2.35044910e-02 -1.29719997e-01]
 [-4.16009689e-01 -1.51337539e+00 -3.33612130e-02 -2.61192967e-01]
 [-5.25060772e-02 -8.19166497e-01  8.03701950e-02  1.75297293e-03]
 [ 1.89829664e-01 -8.19166497e-01  7.62758643e-01  5.27644853e-01]
 [-5.37177559e-01 -1.24957601e-01  4.21564419e-01  3.96171883e-01]
 [ 1.89829664e-01  8.00654259e-01  4.21564419e-01  5.27644853e-01]
 [ 1.03800476e+00  1.06445364e-01  5.35295827e-01  3.96171883e-01]
 [ 5.53333275e-01 -1.74477836e+00  3.64698715e-01  1.33225943e-01]
 [-2.94841818e-01 -1.24957601e-01  1.94101603e-01  1.33225943e-01]
 [-4.16009689e-01 -1.28197243e+00  1.37235899e-01  1.33225943e-01]
 [-4.16009689e-01 -1.05056946e+00  3.64698715e-01  1.75297293e-03]
 [ 3.10997534e-01 -1.24957601e-01  4.78430123e-01  2.64698913e-01]
 [-5.25060772e-02 -1.05056946e+00  1.37235899e-01  1.75297293e-03]
 [-1.02184904e+00 -1.74477836e+00 -2.60824029e-01 -2.61192967e-01]
 [-2.94841818e-01 -8.19166497e-01  2.50967307e-01  1.33225943e-01]
 [-1.73673948e-01 -1.24957601e-01  2.50967307e-01  1.75297293e-03]
 [-1.73673948e-01 -3.56360566e-01  2.50967307e-01  1.33225943e-01]
 [ 4.32165405e-01 -3.56360566e-01  3.07833011e-01  1.33225943e-01]
 [-9.00681170e-01 -1.28197243e+00 -4.31421141e-01 -1.29719997e-01]
 [-1.73673948e-01 -5.87763531e-01  1.94101603e-01  1.33225943e-01]
 [ 5.53333275e-01  5.69251294e-01  1.27454998e+00  1.71090158e+00]
 [-5.25060772e-02 -8.19166497e-01  7.62758643e-01  9.22063763e-01]
 [ 1.52267624e+00 -1.24957601e-01  1.21768427e+00  1.18500970e+00]
 [ 5.53333275e-01 -3.56360566e-01  1.04708716e+00  7.90590793e-01]
 [ 7.95669016e-01 -1.24957601e-01  1.16081857e+00  1.31648267e+00]
 [ 2.12851559e+00 -1.24957601e-01  1.61574420e+00  1.18500970e+00]
 [-1.14301691e+00 -1.28197243e+00  4.21564419e-01  6.59117823e-01]
 [ 1.76501198e+00 -3.56360566e-01  1.44514709e+00  7.90590793e-01]
 [ 1.03800476e+00 -1.28197243e+00  1.16081857e+00  7.90590793e-01]
 [ 1.64384411e+00  1.26346019e+00  1.33141568e+00  1.71090158e+00]
 [ 7.95669016e-01  3.37848329e-01  7.62758643e-01  1.05353673e+00]
 [ 6.74501145e-01 -8.19166497e-01  8.76490051e-01  9.22063763e-01]
 [ 1.15917263e+00 -1.24957601e-01  9.90221459e-01  1.18500970e+00]
 [-1.73673948e-01 -1.28197243e+00  7.05892939e-01  1.05353673e+00]
 [-5.25060772e-02 -5.87763531e-01  7.62758643e-01  1.57942861e+00]
 [ 6.74501145e-01  3.37848329e-01  8.76490051e-01  1.44795564e+00]
 [ 7.95669016e-01 -1.24957601e-01  9.90221459e-01  7.90590793e-01]
 [ 2.24968346e+00  1.72626612e+00  1.67260991e+00  1.31648267e+00]
 [ 2.24968346e+00 -1.05056946e+00  1.78634131e+00  1.44795564e+00]
 [ 1.89829664e-01 -1.97618132e+00  7.05892939e-01  3.96171883e-01]
 [ 1.28034050e+00  3.37848329e-01  1.10395287e+00  1.44795564e+00]
 [-2.94841818e-01 -5.87763531e-01  6.49027235e-01  1.05353673e+00]
 [ 2.24968346e+00 -5.87763531e-01  1.67260991e+00  1.05353673e+00]
 [ 5.53333275e-01 -8.19166497e-01  6.49027235e-01  7.90590793e-01]
 [ 1.03800476e+00  5.69251294e-01  1.10395287e+00  1.18500970e+00]
 [ 1.64384411e+00  3.37848329e-01  1.27454998e+00  7.90590793e-01]
 [ 4.32165405e-01 -5.87763531e-01  5.92161531e-01  7.90590793e-01]
 [ 3.10997534e-01 -1.24957601e-01  6.49027235e-01  7.90590793e-01]
 [ 6.74501145e-01 -5.87763531e-01  1.04708716e+00  1.18500970e+00]
 [ 1.64384411e+00 -1.24957601e-01  1.16081857e+00  5.27644853e-01]
 [ 1.88617985e+00 -5.87763531e-01  1.33141568e+00  9.22063763e-01]
 [ 2.49201920e+00  1.72626612e+00  1.50201279e+00  1.05353673e+00]
 [ 6.74501145e-01 -5.87763531e-01  1.04708716e+00  1.31648267e+00]
 [ 5.53333275e-01 -5.87763531e-01  7.62758643e-01  3.96171883e-01]
 [ 3.10997534e-01 -1.05056946e+00  1.04708716e+00  2.64698913e-01]
 [ 2.24968346e+00 -1.24957601e-01  1.33141568e+00  1.44795564e+00]
 [ 5.53333275e-01  8.00654259e-01  1.04708716e+00  1.57942861e+00]
 [ 6.74501145e-01  1.06445364e-01  9.90221459e-01  7.90590793e-01]
 [ 1.89829664e-01 -1.24957601e-01  5.92161531e-01  7.90590793e-01]
 [ 1.28034050e+00  1.06445364e-01  9.33355755e-01  1.18500970e+00]
 [ 1.03800476e+00  1.06445364e-01  1.04708716e+00  1.57942861e+00]
 [ 1.28034050e+00  1.06445364e-01  7.62758643e-01  1.44795564e+00]
 [-5.25060772e-02 -8.19166497e-01  7.62758643e-01  9.22063763e-01]
 [ 1.15917263e+00  3.37848329e-01  1.21768427e+00  1.44795564e+00]
 [ 1.03800476e+00  5.69251294e-01  1.10395287e+00  1.71090158e+00]
 [ 1.03800476e+00 -1.24957601e-01  8.19624347e-01  1.44795564e+00]
 [ 5.53333275e-01 -1.28197243e+00  7.05892939e-01  9.22063763e-01]
 [ 7.95669016e-01 -1.24957601e-01  8.19624347e-01  1.05353673e+00]
 [ 4.32165405e-01  8.00654259e-01  9.33355755e-01  1.44795564e+00]
 [ 6.86617933e-02 -1.24957601e-01  7.62758643e-01  7.90590793e-01]]

Vamos verificar se cada coluna apresenta média igual a zero e desvio padrão igual a um.

In [ ]:
for i in np.arange(0,rescaledX.shape[1]):
    print('Media da coluna', i, 'é igual a: ', np.mean(rescaledX[:,i]))
    print('Desvio padrão da coluna', i, 'é igual a: ', np.std(rescaledX[:,i]),'\n')

## Binarização dos dados

A binarização dos dados resulta em valores zero ou um, de acordo com um dado limiar. Ou seja, se o valor em X for maior do que o limiar, o valor resultante será 1, caso contrário será zero.
$$
X_{novo}(i,j) = 
\begin{cases} 1, & \mbox{se } X(i,j) \geq T \\ 0, & \mbox{se } X(i,j) < T \end{cases}
$$

In [ ]:
from sklearn.preprocessing import Binarizer
from sklearn.preprocessing import MinMaxScaler

# considera apenas os atributos, ignorando a última coluna das classes
X = np.array(data[data.columns[0:data.shape[1]-1]], dtype = float)
T = 0.2 # valor do limiar
print('Limiar:', T)
print('---------------------')

# prepara a normalização dos dados
scaler = MinMaxScaler(feature_range=(0, 1))
# realiza a normalização
X_pad = scaler.fit_transform(X)
# faz a binarização considerando o limiar (threshold)
binarizer = Binarizer(threshold=T).fit(X_pad)
binaryX = binarizer.transform(X_pad)
for i in np.arange(0,X_pad.shape[0]):
    print("Antes:", X_pad[i,])
    print('Depois:',binaryX[i,])
    print('---------------------')

## Conversão de variáveis nominais em inteiros

Quando temos dados nominais e ordinais, podemos convertê-los para variáveis numéricas. Vamos fazer isso com as classes dos dados, mudando os valores nominais para inteiros.

In [ ]:
# leitura dos dados
data = pd.read_csv('data/iris.csv', header=(0))
print('Número de linhas e colunas:', data.shape)
# mostramos a última coluna
print('Coluna com as classes:\n', data[data.columns[-1]])

In [ ]:
# armazena o nome das classes
classes = np.unique(data[data.columns[-1]])
number = 0 # valor que será usado para representar a clases
for i in classes:
    data = data.replace(i, number) # substitui cada valor da classe por number
    number = number + 1
print('Novos dados:')
print(data[data.columns[-1]])

Esse mesmo procedimento pode ser usado em qualquer uma das colunas da matriz de atributos.

## One-hot encoding

Quando temos variáveis nominais e precisamos transformá-las para numéricas, uma maneira simples é usar o método one-hot encoding.

In [ ]:
import pandas as pd

# cria um dataframe do Pandas
df = pd.DataFrame({
          'A':['a','b','a', 'c', 'a', 'b'],
        })
df.head()

Usando one-hot enconding, obtemos:

In [ ]:
df = pd.get_dummies(df)
df.head()

Note que foi usado um código binário para cada valor nominal.

## Dados correlacionados

Vamos identificar as colunas em que a correlação entre elas é maior do que $|p|$.

In [ ]:
data = pd.read_csv('data/BostonHousing.csv', header=(0))
data.head(10)

A matriz de correlação entre as variáveis:

In [ ]:
# obtem a matriz de correlação dos dados
corr = data.corr()
# Mostra a matriz
plt.figure(figsize=(7, 7))
# imshow é usado para mostrar imagens
plt.imshow(corr, cmap='Blues', interpolation='none', aspect='auto')
# mostra a barra lateral de cores
plt.colorbar()
# inclui o nome das variáveis
plt.xticks(range(len(corr)), corr.columns, rotation='vertical')
plt.yticks(range(len(corr)), corr.columns);
plt.suptitle('Correlation between variables', fontsize=15, fontweight='bold')
plt.grid(False)
plt.show()

Os dados estão armazenados na matriz:

In [ ]:
print(corr)

Assim, para identificarmos as variáveis correlacionadas, usamos um laço for:

In [ ]:
p = 0.75 # correlação mínima
var = []
for i in corr.columns:
    for j in corr.columns:
        if(i != j):
            if np.abs(corr[i][j]) > p: # se maior do que |p|
                var.append([i,j])
print('Variáveis mais correlacionadas:\n', var)

Com isso, podemos remover as variáveis mais correlacionadas de modo a reduzir a redundância nos dados.

## Dados desbalanceados

Muitas vezes, o número de observações difere em cada classe, de modo que os dados são desbalanceados. Podemos verificar o número de elementos em cada classe criando um histograma.

In [ ]:
data = pd.read_csv('data/Vehicle.csv', header=(0))
data.head(10)

In [ ]:
classes = data[data.columns[-1]]
print(classes)

O histograma do número de elementos em cada classe:

In [ ]:
# armazena os nomes das classes
cl = np.unique(classes)
# armazena o número de elementos em cada classe
ncl = np.zeros(len(cl))
for i in np.arange(0, len(cl)):
    a = classes == cl[i]
    ncl[i] = len(classes[a])
print(ncl)

Em um gráfico de barras:

In [ ]:
# número de classes
numbers = np.arange(0, len(cl))
plt.bar(numbers, ncl,  alpha=.75)
# mostra o nome das classes ao invés dos números
plt.xticks(numbers, cl)
plt.title('Número de elementos em cada classe')
plt.show(True)

Podemos redistribuir os dados de modo que cada classes contenha o mesmo número de elementos.

Vamos balancear os dados de forma que cada classe contenha $N$ elementos. Escolhermos $N$ elementos de forma aleatória, sem reposição, de cada classe.

In [ ]:
N = 3
# classes
cl = np.unique(classes)
X = np.array(data)
Xnew = []
cls = np.array(data[data.columns[-1]])
for i in np.arange(0, len(cl)):
    a = np.argwhere(cls == cl[i])
    # seleciona os índices nos dados de forma aleatória
    inds = np.random.choice(a[:,0],N,replace=False)
    Xnew.append(X[inds,:])
Xnew = np.array(Xnew)
print('Dados obtidos a partir da amostragem')
print(Xnew)

## Outliers - Box plot

Em muitos casos, temos a presença de outliers nos dados. Uma maneira simples de identificar outliers é criando um boxplot.

Lembrem-se, um boxplot:

<img src="https://cdn-images-1.medium.com/max/1600/1*2c21SkzJMf3frPXPAR_gZA.png" style="height:300px">

In [ ]:
# biblioteca para mostrar os gráficos
import seaborn as sns
data = pd.read_csv('data/iris.csv', header=(0))
plt.figure(figsize=(8, 8))
# mostra o boxplot
sns.boxplot(x="species", y="petal_length", data=data)
plt.xlabel('Espécie', fontsize=18)
plt.ylabel('Comprimento da pétala', fontsize=16)
plt.xticks(fontsize=14)
plt.yticks(fontsize=14)
plt.show(True)

Podemos ainda usar a distância interquantil (Q3 - Q1) para encontrar os outliers de uma forma simples. Vamos considerar um exemplo.

In [ ]:
np.random.seed(101)
# geramos os dados de forma aleatória e colocamos em um dataframe
data = pd.DataFrame({'a': np.random.randint(1, 200, 20), 
                          'b': np.random.randint(1, 200, 20),
                          'c': np.random.randint(1, 200, 20)})

# geramos os outliers, aumentando em 10 vezes o valor dos atributos
data[data > 150] = data[data > 150]*10
# mostramos os dados
print (data)

Visualizando os dados:

In [ ]:
import seaborn as sns
sns.pairplot(data)
plt.show()

Para encontrarmos os outliers:

In [ ]:
Q1 = data.quantile(0.25)
Q3 = data.quantile(0.75)
IQR = Q3 - Q1

print (((data < (Q1 - 1.5 * IQR)) | (data > (Q3 + 1.5 * IQR))))

Podemos dizer que uma observação é um outlier se ao menos uma das variáveis está fora dos limites máximos do boxplot. Ou seja, se o valor é menor do que (Q1 - 1.5 * IQR) ou maior do que (Q3 + 1.5 * IQR).
Outliers são indicados como True abaixo.

In [ ]:
print (((data < (Q1 - 1.5 * IQR)) | (data > (Q3 + 1.5 * IQR))).any(axis=1))#~is used to invert the answer

A partir dessa informação, podemos fazer a retirada dos outliers no dados originais.

In [ ]:
v = ((data < (Q1 - 1.5 * IQR)) | (data > (Q3 + 1.5 * IQR))).any(axis=1)
#v = np.invert(v)
data = data.drop(data.index[list(v)], axis=0)
data.head(25)

## Exercícios de fixação

1 - Leia os dados com erro novamente, faça a limpeza e remova as duas últimas colunas.

2 - Leia os dados com erro novamente e insira a mediana de cada atributo onde for encontrada NaN.

3 - Conside os dados da Iris e mostre a distribuição de probabilidades de cada uma das variáveis após a normalização e padronização.

4 - Reamostre os dados da Iris e selecione 10 elementos em cada classe.

5 - Monte um boxplot para cada variável dos dados da Iris.

6 - Encontre os outliers nos dados das bases Iris e BostonHouse.